{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<h1>Привет, Мир ЯП!</h1>
<p>
  Меня зовут Андрей. Мне 33 и я стремлюсь познать новую неизведанную для себя профессию, как говорится учится не когда не поздно! <br>
  Ярый фанат ФК "Краснодар" лично знаком с шведскими игроками которые ранее входили в состав клуба. <br>
  К программированию шел долго, а может и нет, просто настало время высоких технологий и программирования, что и сподвигло меня на изучение данной профессии. <br>
  Но путь увел сначала в общепит, потом в системы безопасности. <br>
  И вот теперь учусь. И кто бы мог подумать что меня накроет с головой! <br>
  В обучении мне помогает моя кошка - Сильвана! <br>
  С женой очень часто шутили, что за 9 месяцев обучения можно родить ребенка. <br>
  Так один из главных монитоваторов то, что к концу обучения стану Папой! <br>
  Ссылка на мой гитхаб: <a href="https://github.com/Pe4enka5">гитхаб</a>
</p>
{% endblock %} 